#graph-container {
    align-items: center;
    background: #ffffff;
    position: absolute;
    top: 130px; /* Bevel edge from the top */
    left: 10px; /* Bevel edge from the left */
    right: 10px; /* Bevel edge from the right */
    bottom: 10px; /* Bevel edge from the bottom */
}

svg {
    border: 5px solid #ddd; /* Optional bevel */
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

#controls {
    margin-top: 10px;
}

body, html {
    font: 20px Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent scrollbars */
}

#controls label {
    margin-right: 10px;
}

.node circle.container {
    width: 40px;
    height: 60px;
    x: -20;
    y: -30;
    fill: #ccc;
    stroke-width: 1.5px;
}

.node.highlighted {
    stroke: #ffcc00; /* Bright yellow border */
    stroke-width: 3px; /* Border width */
    filter: drop-shadow(0 0 40px rgba(204, 0, 0, 0.9)); /* Halo effect using drop-shadow */
    transition: filter 0.3s ease-in-out, stroke 0.3s ease-in-out; /* Smooth transition for effects */
}

.node {
    transition: opacity 0.3s ease-in-out; /* Smooth transition for opacity change */
}

.node circle.APT {
    fill: #8e8;
}

.node circle.malware {
    fill: #9df;
}

.node circle.toolsTechniques {
    fill: #88e;
}

.node circle.group {
    fill: #da6;
}

.node circle.China.country {
    fill: #e88;
}

.node circle.Iran.country {
    fill: #388;
}

.node circle.Russia.country {
    fill: #3b48e3;
}
.node circle.NorthKorea.country {
    fill: #8787f5;
}

.node circle.SouthAmerica.country {
    fill: #126205;
}

text {
    pointer-events: none;
}
